services:
  netbird-client:
      container_name: netbird-client
      hostname: "{{ ansible_facts['hostname'] }}"
      cap_add:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
      devices:
          - /dev/net/tun
      network_mode: host
      environment:
          - NB_SETUP_KEY="{{ netbird_key }}"
      volumes:
          - netbird-client:/var/lib/netbird
      image: netbirdio/netbird:latest
volumes:
  netbird-client:
      name: netbird-client
